.mydiv {
  color:black;
  font-weight:bold;
  animation: myanimation 2s infinite;
}

@keyframes myanimation {
  0% {background-color: #FF6347;}
  25%{background-color:#e12317;}
  50%{background-color:#cb3329;}
  75%{background-color:#a84039;}
  100% {background-color: #623633;}
}