<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
	<title>Treinos</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link  th:href="@{/css/styles.css}" rel="stylesheet"></link>
</head>
<body>
	<div class="panel panel-default">
	 <nav class="navbar navbar-inverse navbar-static-top">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" th:href="@{/}" style="padding: 1px 1px;">
		    	<img alt="Treino Consciente" style="width: 117px; height: 53px" src="http://treinoconsciente.pagezz.net/files/sites/10344/2017/11/logo_treino_consciente_black.png">
	    	</a>
		  </div>
		  <div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a th:href="@{/}">Home</a></li>
		      <li><a th:href="@{/add/}" >Novo treino</a></li>
		      <li><a th:href="@{/logout}" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
		    </ul>
		  </div>
	</nav>
		<div class="panel-heading">
			<strong>Treinos </strong>
	        <span style="float:right;"><a class="btn btn-sm btn-success" th:href="@{/sync/}" >Sincronizar</a></span>
			</div>
		</div>
		<div class="panel-body">
		    
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered" id="tableTreinos">
					<thead>
						<tr>
							<th>Aluno</th>
							<th>Treino</th>
							<th>Plano</th>
							<th>Prof.</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="treino : ${treinos}">
							<td th:text="${treino.aluno.nome}"></td>
							<td th:text="${treino.tipoTreino}"></td>
<!-- 							<td th:text="${treino.plano}"></td> -->
							 <td> <a target="_blank" th:href="${treino.linkForm}"><span th:text="${treino.plano}"/></a></td>
							<td th:text="${treino.professor.nome}"></td>
							<td th:text="${treino.limiteEnvio}"  th:style="${treino.corFundoTreino}" th:classappend="${treino.piscaFundo == true} ? mydiv : other"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${treino.idTreino})}" >Editar</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
<!-- 			<a class="btn btn-sm btn-success" th:href="@{/add/}" >Adicionar</a> -->
		</div>
	</div>
</body>
</html>